/*
 * Orange: #F05A2A
 * Light-Orange: #F6943D
 * Yellow: #FCCF4D
 * Light-Yellow: #FDE7A7
 * Very-Light-Yellow: #FEF1CA
 * Dark-Gray: #454545
 */

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100%;
  font-family: Tahoma, sans-serif;
  color: #454545;
  background-color: #FEF1CA;
  background-image: -webkit-linear-gradient(top, #FDE7A7, #FEF1CA 300px);
  font-size: 14px;
}

table {
  border-spacing: 0;
}

th, td {
  padding: 0 1ex;
}

#sidebar {
  float: left;
  width: 300px;
  margin-left: 15px;
  margin-right: 10px;
}

#tests {
  margin: 5px;
}

#tests > thead > tr > td {
  border-bottom: 1px solid #454545;
}

#tests > tbody > tr > td {
  font-weight: normal;
}

#tests > tbody > tr > td.name {
  padding-left: 2ex;
}

#tests > thead > tr > td.number, #tests > tbody > tr > td.number {
    width: 10ex;
}

#tests > tbody > tr > td.details {
    border-top: none;
    padding: 0.5ex 5ex 2ex 5ex;
}

.details-container {
    border: 1px dotted #FCCF4D;
    background: #FDE7A7;
}

.details-container.disabled {
    border-color: white;
    background: white;
    color: silver;
}

.runs {
    margin-top: 0.5ex;
    table-layout: fixed;
}

.runs > thead > tr > td.number, .runs > tbody > tr > td.number {
    width: 10ex;
}

.runs > thead > tr > td.name, .runs > tbody > tr > td.name {
    width: 30ex;
}

.runs > tbody > tr > td {
  font-weight: normal;
  border-top:1px dotted #FCCF4D;
}

td.number {
  text-align: right;
}

#console {
  color: silver;
  font-size: 10px;
  overflow-y: auto;
  min-height: 200px;
}

#testSection {
  clear: both;
}

#testFrame {
  width: 300px;
  height: 300px;
  border: 1px solid silver;
}

h2 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 36px;
  margin: 0 10px 0 0;
  display:inline;
}

header {
  border-bottom: 1px solid #454545;
  margin-bottom: 15px;
  padding:15px;
}

header img {
  height: 40px;
  width: 40px;
}

#mainResults {
  float:right;
}

#runButton {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(top, #F05A2A, #F6943D);
  color: #FDE7A7;
  font-size: 26px;
  /* Large enough so the size doesn't change for any of the messages */
  width:175px;
  border: 1px solid #FCCF4D;
  cursor: pointer;
  box-shadow: 0px 2px 5px 0px #454545;
}

#runButton:active {
  background-image: -webkit-linear-gradient(top, #F6943D, #F05A2A);
}

#runButton:hover {
  color:#FCCF4D;
}

#runButton:disabled {
  opacity: 0.6;
  color: #FCCF4D;
}

#status {
  font-size: 14px;
  text-align: center;
  color: #666666;
  font-style: italic;
}

#status.score {
  color: #454545;
  font-weight: bold;
  font-size: 36px;
  font-style: normal;
}

#status > span {
  color: #FCCF4D;
  font-weight: normal;
}

#results > thead > tr > td {
  border-bottom: 1px solid black;
}
